::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track {
  background: #f7efef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a5a2a2;
  border-radius: 5px;
}

pre::-webkit-scrollbar {
  height: 14px;
  width: 14px;

  -webkit-appearance: none;
}

pre::-webkit-scrollbar-thumb {
  background-color: rgba(47, 46, 46, 0.2);
  border: 3px solid #fbf6f6;
  border-radius: 8px;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.modify-id-hidden{
	display: none;
}

.modify-checkbox-custom .custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: 0rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #b8c3d5 solid 1px;
}

.modify-checkbox-custom .custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: 0rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.modify-checkbox-custom.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 0rem;
}

.card-title.modify-card-title {
	text-align: right;
	margin-bottom: 20px;
} 

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.page-wrap {
  background: #f9fbfd;
  position: relative;
  transition: 0.2s ease-in;
  display: block;
  box-shadow: 0px 3px 9px 0px rgba(162, 176, 190, 0.15);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  padding-top: 80px;
  margin-left: 260px;
}

.page-wrap > .container {
  padding: 35px;
  min-height: calc(100vh - 210px); 
}

.page-wrap > .container-fluid {
    padding: 35px;
    min-height: calc(100vh - 210px);
}


.left-menu {   
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    padding-top: 80px;
    background: #fff;
    box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    transition: .2s ease-in;
    -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
}


.left-menu-nav{
    padding-top: 30px;
}

.left-menu-nav ul {
    margin: 0;
    padding: 0;
}

.left-menu-nav ul li {
    list-style: none;
    margin-right: 15px;
}

.left-menu-link{
    font-size: 16px;
    padding: 12px 30px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 27px;
    opacity: .7;
    margin-right: 17px;

    color: #818181;
}

.topbar {
    position: fixed;
    z-index: 50;
    transition: 0.2s ease-in;
    background: #fafbfd;
    width: 100%;
}

.topbar .top-navbar .navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0 30px 0 22px;
    height: 80px;
    width: 260px;
}

.left-menu-nav .nav-small-cap {
    font-size: 12px;
    padding: 0 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 30px;
    color: #fff;
    opacity: 1;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

.left-menu-nav .nav-small-cap .hide-menu {
    color: #000;
}

.left-menu-nav .list-divider{
    height: 1px;
    background: #818181;
    display: block;
    margin: 10px 0 10px 0px;
    opacity: .1;
}

.left-menu-nav i{
    font-style: normal;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    color: #9eabc0;
}

.left-menu-selected-link {
    border-radius: 0 60px 60px 0;
    background: linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
    box-shadow: 0 7px 12px 0 rgba(95,118,232,.21);
    opacity: 1;
}

.left-menu-selected-link a {
    color: #fff!important;
    opacity: 1;
}

.topbar .top-navbar .navbar-header{
    background: #fff;
}

.table-hover {
    cursor: pointer;
}

/*Стили для верхнего меню в header*/

.nav_modify {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.nav_modify button {
  color: #83818c;
  padding: 10px 20px;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  position: relative;
  border: none;
  background-color: #fafbfd;
}

.nav_modify button:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0000ff;
  border-radius: 5px 5px;
  opacity: 0;
  transition: .3s;
}

.nav-item_modify:not(.is-active_modify):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item_modify:not(.is-active_modify):hover { 
  color: #333; 
}

.nav-indicator_modify {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  transition: .4s;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav_modify { overflow: auto; }
}

/*Стили для верхнего меню в header .end*/

/*15-03-2020*/

.left-menu-item input[type="button"] {
  color: #818181;
  font-size: 16px;
  padding: 10px 10px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  line-height: 27px;
  opacity: 0.7;
  margin-right: 17px;
  width: 100%;
  border: none;
  background-color: #fff; 
}

.left-menu-item.left-menu-selected-link input[type="button"] {
  border-radius: 0 60px 60px 0;
  background: linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
  box-shadow: 0 7px 12px 0 rgba(95,118,232,.21);
  opacity: 1;
  color: #fff;
}
.f-d-n {
  display: none;	
}

.modal-bg-img {
  background: url(../images/modal-bg-img.png) no-repeat;
  background-size: cover;
}

.btn-modif-size {
  padding: 0.275rem 0.65rem;
}