<div th:fragment="fragment_1">
<!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header class="topbar">

        <nav class="navbar top-navbar navbar-expand-md">
            <div class="navbar-header">
                 <div class="navbar-brand">
                    <!-- Logo icon -->
                    <a href="index.html">
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="webapp/images/logo-icon.png" alt="homepage1" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="webapp/images/logo-text.png" alt="homepage2" />
                        </span>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                    <!-- Кнопка СОЗДАТЬ НОВЫЙ ПРОЕКТ  -->
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link" href="javascript:void(0)">
                            <button type="button" class="btn btn-outline-secondary btn-rounded" data-toggle="modal"
                                    data-target="#fill-primary-modal">Создать проект</button>
                        </a>
                    </li>
                </ul>

                <!-- Меню  -->
                <nav class="nav_modify">
                    <form th:action="@{/Contragents}" method="post">
                        <button type="submit" class="nav-item_modify">Контрагенты</button>
                    </form>
                    <form th:action="@{/Projects}" method="post">
                        <button type="submit" class="nav-item_modify">Проекты</button>
                    </form>
                    <form th:action="@{/Reports}" method="post">
                        <button type="submit" class="nav-item_modify">Отчеты</button>
                    </form>
                    <form th:action="@{/FinsOperations}" method="post">
                        <button type="submit" class="nav-item_modify">Операции</button>
                    </form>
                    <form th:action="@{/FinsCompany}" method="post">
                        <button type="submit" class="nav-item_modify">Компании</button>
                    </form>
                    <form th:action="@{/FinsLOV}" method="post">
                        <button type="submit" class="nav-item_modify">Статьи</button>
                    </form>
                    <span class="nav-indicator_modify"></span>
                </nav>
            </div>
        </nav>


        <!-- Primary Filled Modal -->
            <div id="fill-primary-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-filled bg-primary">
                        <div class="modal-header">
                            <h4 class="modal-title" id="fill-primary-modalLabel">Создать новый проект</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="pl-3 pr-3" action="#">
                                    <input class="form-control" name="createProject" type="text"placeholder="Например: Продажа мебели">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light"
                                data-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-outline-light">Сохранить</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        
    </header>

</div>