<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section class="left-menu">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="left-menu-nav">
                <ul id="left-menunav">

                   
                   <!-- Заголовок раздела -->
                    <li class="nav-small-cap"><span class="hide-menu">Бизнес отчеты</span></li> 
                    <!-- Заголовок раздела -->
                    <li class="left-menu-item"> <a class="left-menu-link" href="dashboard.html" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span class="hide-menu">Аналитика</span></a></li>
                    
                    <!-- Разделитель между разделами -->
                    <li class="list-divider"></li> 

                    <!-- Заголовок раздела -->
                    <li class="nav-small-cap"><span class="hide-menu">Ваши проекты</span></li> 

                    <!-- Ссылка на проект -->
                    <li class="left-menu-item left-menu-selected-link"> <a class="left-menu-link" href="index.html" aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i><span class="hide-menu">Продажа дерева</span>
                    </a></li>

                    <!-- Ссылка на проект -->
                    <li class="left-menu-item "> <a class="left-menu-link" href="index.html" aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i><span class="hide-menu">Продажа камня</span>
                    </a></li>

                    <!-- Разделитель между разделами -->
                    <li class="list-divider"></li> 


                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </section>

</html>