server:
    error:
      include-message: always
      include-binding-errors: always
    port: 8081
spring:
  datasource:
    password: fadmin
    username: fadmin
    url: jdbc:postgresql://localhost:5432/db_fins
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  mail:
    host: localhost
    port: 25
    username: root
    password: Etei9of3cah9
    #host: localhost
    #port: 1025
    #username: hello
    #password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000