
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center text-muted" th:fragment="footer_fragment_1">
    <div class="container">
        <div class="row">
        	<div class="col-md-6">Для корректной работы в личном кабинете используйте пожалуйста стабильную (последнюю на дадут выхода) версию браузера Google Chrome.</div>
            <div class="col-md-6">
                Финансы под контролем. Все права защищены. <a href="/">© «BlueCase», 2022</a>.
            </div>
        </div>
    </div>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->