<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div id="spinner_main_div" class="loader f-d-n" th:fragment="spinner_fragment_1">
    <div id="spinner_ajax_chain" class="f-d-n"></div><!--Цепочка ajax вызовов-->
     <div class="loader-inner">
        <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
           <circle class="spinner" cx="50" cy="50" r="21" fill="#ffffff" stroke-width="3"/>
        </svg>
     </div>
</div>

</html>