<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

 <div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Основная компания и сотрудники</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-2 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page"><a href="#">Ваша компания и сотрудники</a></li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Компания</li>
                    </ol>
                </nav>
            </div>
        </div>        
    </div>
</div>

</html>