<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<div class="col-md-4" th:fragment="project_tile_fragment_1">-->
    <div class="card" th:fragment="project_tile_fragment_1(projectName,projectDescription)">
        <div class="card-body">
            <h3 class="card-title" th:utext="${projectName}"></h3>
            <p class="card-text" th:utext="${projectDescription}"></p>
            <div class="dropdown-divider"></div>
            <p class="card-text">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium" id="projectprofitid">2 785 222,99</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Деньги
                    </h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7">₽</span>
                </div>
            </div>
            </p>
            <div class="dropdown-divider"></div>
            <p class="card-text">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h4 class="text-dark mb-1 w-100 text-truncate font-weight-medium">Транзакции:
                    </h4>
                </div>
            </div>
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h6 class="font-weight-normal mb-0 w-100 text-truncate">Приход
                    </h6>
                </div>
                <div class="ml-auto mt-md-1">+ 3 485
                    <span class="opacity-7">₽</span>
                </div>
            </div>
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h6 class="font-weight-normal mb-0 w-100 text-truncate">Расход
                    </h6>
                </div>
                <div class="ml-auto mt-md-1">- 22 100
                    <span class="opacity-7">₽</span>
                </div>
            </div>
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h6 class="font-weight-normal mb-0 w-100 text-truncate">Сальдо
                    </h6>
                </div>
                <div class="ml-auto mt-md-1">- 8 100
                    <span class="opacity-7">₽</span>
                </div>
            </div>
            </p>
            <div class="dropdown-divider"></div>
            <p class="card-text"><small class="text-muted">Дата создание: 08-20-2020</small></p>
            <button class="btn btn-light">Операции</button>
            <button class="btn btn-light">Изменить</button>
        </div>
    </div>
<!--</div>-->

</html>