<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section th:fragment="left_menu_sidebar_1"> <!-- убрал class="left-menu" -->

    <nav class="sidebar close-left-sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../webapp/images/logo-icon.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">BlueCase</span>
                    <span class="profession">финансист</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon' ></i>
                    <input type="search" placeholder="Поиск">
                </li>
                <ul class="menu-links" id="projectlistpanel">


                    <li class="list-divider"></li>
                    <li class="nav-small-cap">
                        <span class="menu-list-title">Ваши проекты</span>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cube-alt icon'></i>
                            <span class="text nav-text">Проект 1</span>
                        </a>
                    </li>
                    <li class="nav-link left-menu-selected-link">
                        <a href="#">
                            <i class='bx bx-cube-alt icon'></i>
                            <span class="text nav-text">Проект 2</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="bottom-content">
                <li class="list-divider"></li>
                <li class="fins-list-all-project">
                    <a href="#">
                        <i class='bx bxs-component icon'></i>
                        <span class="text nav-text">Все проекты</span>
                    </a>
                </li>
                <li class="list-divider"></li>
            </div>
        </div>
    </nav>


     <!-- Sidebar scroll
        <div class="scroll-sidebar">
            
            <nav class="left-menu-nav">
                <ul id="left-menunav">
                    
                    <li class="nav-small-cap"><span class="hide-menu">Бизнес отчеты</span></li>
                  
                    <li id="2rowid" class="left-menu-item">
                        <input type="button" class="left-menu-link finsproject_list_row" projnum="1" value="Аналитика">класс finsproject_list_row дял скрипта
                    </li>
                    Разделитель между разделами 
                    <li class="list-divider"></li>
                    Заголовок раздела
                    <li class="nav-small-cap"><span class="hide-menu">Ваши проекты</span></li>
                    СПИСОК ПРОЕКТОВ (заполняется Ajax)
                    <ul id="projectlistpanel"></ul>
                    Разделитель между разделами
                    <li class="list-divider"></li>
                </ul>
            </nav>
    
        </div>
         End Sidebar scroll-->
      

    </section>

    

</html>