<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="master_head_1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="webapp/images/favicon.png">
    <!-- Custom CSS -->
    <link href="webapp/css/style.css" rel="stylesheet">
    <link href="webapp/css/main.css" rel="stylesheet">
    <link href="webapp/css/normalize.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->

    <script src="webapp/js/jquery-1.9.1.min.js"></script><!--Подцепляем jquery-->
    <script src="webapp/js/js_general_functions.js"></script><!--Подцепляем общие скрипты-->
</head>

</html>