<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="master_script_1">

<!-- Bootstrap core JavaScript-->
<script src="/framework/vendor/jquery/jquery.min.js"></script>
<script src="/framework/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/framework/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/framework/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="/framework/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/framework/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="/framework/js/demo/datatables-demo.js"></script>

<script>    
    const body = document.querySelector("body"),
      sidebar = document.querySelector(".sidebar"),
      toggle = document.querySelector(".toggle"),
      searchBox =  document.querySelector(".search-box") 

    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close-left-sidebar");
    });
    searchBox.addEventListener("click", () => {
       sidebar.classList.remove("close-left-sidebar"); 
    })
</script>

</html>