<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <user_fragment_1 th:replace="fragments\master\fragment_agrigate_master_head.html :: master_head_1"></user_fragment_1>
    <title>Fin</title>
    <script src="webapp/js/js_finslovpage.js"></script><!--Подцепляем внешний скрипт-->
</head>

<body>

<!-- *************************************************************** -->
<!-- Главная обертка для всего сайта -->
<!-- *************************************************************** -->
<div class="vip-wrapper">
    
    <!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header th:replace="fragments\layouts\fragment_agrigate_layouts_header_menu_top.html :: header_fragment_1"></header>


    <!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section th:replace="fragments\layouts\fragment_agrigate_layouts_left_menu_sidebar.html :: left_menu_sidebar_1"></section>

    <!-- *************************************************************** -->
    <!-- Центральная часть -->
    <!-- *************************************************************** -->

    <section class="page-wrap">
        <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Статьи</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mt-2 p-0">
                                    <li class="breadcrumb-item text-muted active" aria-current="page"><a href="#">Ваши cтатьи</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            
        <div class="container">

                <!-- *************************************************************** -->
                <!-- Карточка с формой -->
                <!-- *************************************************************** -->

                <div class="row">
                    <div class="col-sm-12 col-md-7">

                        
                        <div class="card"> <!-- модуль c формой -->
                            <div class="card-body">

                                <!-- Форма с полями -->
                                <form method="post">
                                    <div class="form-body">

                                        <div class="form-group mb-3">
                                            <h4 class="card-title">Добавить статьи</h4>
                                            <h6 class="card-subtitle">Необходимо добавить статьи, с которыми вы будете работать</h6>
                                        </div>
                                        <!-- Системное. Тип операции-->
                                        <div class="form-group f-d-n">
                                            <input type="text" class="form-control" id="lov_db_action">
                                        </div>
                                        <!-- Системное. Поле ввода Id-->
                                        <div class="form-group f-d-n">
                                            <input type="text" class="form-control" id="lov_record_id">
                                        </div>

                                        <!-- Поле ввода "Значение"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Статья</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" id="lov_value" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Поле ввода "Описание"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Описание</label>
                                                <div class="col-lg-9 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="lov_description" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Поле ввода "Характеристики"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Вид</label>
                                                <div class="col-lg-9 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!--<input type="text" id="lov_options" class="form-control">-->
                                                            <select id="lov_options_list" class="form-control">
                                                                <option value="">Выберете значение</option>
                                                                <option value="Транзакционная">Транзакционная</option>
                                                                <option value="Финансовая">Финансовая</option>
                                                                <option value="Инвестиционная">Инвестиционная</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Поле ввода "Тип"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Тип</label>
                                                <div class="col-lg-9 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!--<input type="text" id="lov_type" class="form-control">-->
                                                            <select id="lov_type_list" class="form-control">
                                                                <option value="">Выберете значение</option>
                                                                <option value="Плановая">Плановая</option>
                                                                <option value="Расход">Расход</option>
                                                                <option value="Перевод">Перевод</option>
                                                                <option value="Приход">Приход</option>
                                                                <option value="Ввод финансов">Ввод финансов</option>
                                                                <option value="Операция с налогами">Операция с налогами</option>
                                                                <option value="Покупка">Покупка</option>
                                                                <option value="Продажа">Продажа</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <div class="form-actions">
                                    <div class="text-right">
                                		<button onclick="InsertLOV();" class="btn waves-effect waves-light btn-outline-primary btn-modif-size">Создать</button>
                                		<button onclick="SaveLOV();" class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Сохранить</button>
                                		<button onclick="ResetLOV();" class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Отменить</button>
                                		<button onclick="DeleteLOV();" class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Удалить</button>
                                	</div>
                                </div>
                            </div>
                        </div> <!-- модуль c формой .end -->

                    </div>

                    <div class="col-md-5"><!-- модуль c сылкой на добавление .open -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Добавить компанию</h4>
                                <h6 class="card-subtitle">Компания нужна для расчета финансовых операций</h6>
                                <button class="btn btn-dark">Добавить</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Добавить контаргента</h4>
                                <h6 class="card-subtitle">Контрагент нужен для расчета финансовых операций</h6>
                                <button class="btn btn-dark">Добавить</button>
                            </div>
                        </div>
                    </div><!-- модуль c ссылкой на добавление .end -->

                </div>

        </div>

        <div class="container-fluid">
                <!-- *************************************************************** -->
                <!-- Таблица - Список проектов -->
                 <!-- *************************************************************** -->

                 <div class="row">
                     <div class="col-12">
                         <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Список статей</h4>
                                <h6 class="card-subtitle">Полный список всех статей. Вы можете изменить или удалить нужную статью, достаточно кликнув по записи</h6>
                                <div class="table-responsive">
                                    <table id="finslov_table_list" class="table table-striped table-bordered no-wrap table-hover">
                                        <thead> <!-- Заголовок таблицы -->
                                            <tr>
                                            <th>№</th>
                                            <th>Статья</th>
                                            <th>Описание</th>
                                            <th>Вид</th>
                                            <th>Тип</th>
                                            </tr>
                                        </thead>

                                        <tbody id="finslov_table_body">
                                            <!--Тело таблицы формируется скриптом при загрузки страницы, обращением ajax к контроллеру-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                         </div>
                     </div>
                 </div>

            <!-- *************************************************************** -->
            <!-- КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА -->
            <!-- *************************************************************** -->
                
        </div>
    
    </section>

</div>

<!-----------IVRIBIN User Script----------------------------->
<!--
    Ajax в внешнем файле, чтобы работал нужно объявлять файл в начале html
-->

<script type="text/javascript">
    //Событие загрузки страницы
    $(document).ready(function(){
        StartPage();
    });
</script>

</body>

<!------------FRAMEWORK Script----------------------------->
<script_fragment  th:replace="fragments\master\fragment_agrigate_master_script.html :: master_script_1"></script_fragment>

</html>
