<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <user_fragment_1 th:replace="fragments\master\fragment_agrigate_master_head.html :: master_head_1"></user_fragment_1>
    <title>Fin</title>
    <script src="webapp/js/js_general_functions.js"></script>
    <script src="webapp/js/js_finsaccsettingspage_info.js"></script><!--Подцепляем внешний скрипт-->
</head>

<body>

<!-- *************************************************************** -->
<!-- Главная обертка для всего сайта -->
<!-- *************************************************************** -->
<div class="vip-wrapper">

    <!--Фрагмент спиннера-->
    <div th:replace="fragments\layouts\fragment_agrigate_layouts_spiner.html :: spinner_fragment_1"/>
    
    <!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header th:replace="fragments\layouts\fragment_agrigate_layouts_header_menu_top.html :: header_fragment_1(AccountMail=${AccountMail},UserAdmFlg=${attrUserAdmFlg})"></header>

    

    <!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section th:replace="fragments\layouts\fragment_agrigate_layouts_left_menu_sidebar.html :: left_menu_sidebar_1"></section>

    <!-- *************************************************************** -->
    <!-- Центральная часть -->
    <!-- *************************************************************** -->

    <section class="page-wrap">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Настройки аккаунта</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2 p-0">
                                <li class="breadcrumb-item text-muted active" aria-current="page"><a href="#">Информация аккаунта</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

            
        <div class="container">

                <!-- *************************************************************** -->
                <!-- Карточка администратора -->
                <!-- *************************************************************** -->
                <div class="row">

                    <div class="col-md-8 mt-4">
                        <div class="card">
                            <div class="card-header"><span>Администратор</span>: <span>info@mail.ru</span></div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-body">
                                        <!-- Поле ввода -->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Фамилия:</label>
                                                <div class="col-lg-9 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="lst_name_field" class="form-control" readonly="readonly">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Имя:</label>
                                                <div class="col-lg-9 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="fst_name_field" class="form-control" readonly="readonly">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Отчество:</label>
                                                <div class="col-lg-9 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="mdl_name_field" class="form-control" readonly="readonly">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- Поле ввода -->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Телефон:</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" id="phone_field" class="form-control" readonly="readonly">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Поле ввода -->
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-lg-3 align-self-center">Статус оплаты</label>
                                            <div class="col-lg-9 align-self-center">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="text" id="pay_status_field" class="form-control" readonly="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Поле ввода -->
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-lg-3 align-self-center">Дата окончании</label>
                                            <div class="col-lg-9 align-self-center">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="text" id="pay_end_date_field" class="form-control" readonly="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-actions">
                                    <div class="text-right">
                                        <button onclick="EditUser()" class="btn waves-effect waves-light btn-light btn-modif-size">Изменить</button>
                                        <button onclick="SaveUser()" class="btn waves-effect waves-light btn-light btn-modif-size">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-4">
                        
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">0 руб.</h2>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7">Тариф: Demo</span>
                                    </div>

                                </div>
                                 <div class="d-flex d-lg-flex d-md-block align-items-center mt-4">
                                    <button type="button" class=" form-control btn waves-effect waves-light btn-success">Продлить</button>
                                </div>
                                
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">0</h2>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7">Пользователей</span>
                                    </div>

                                </div>
                                 <div class="d-flex d-lg-flex d-md-block align-items-center mt-4">
                                    <button type="button" class="form-control btn waves-effect waves-light btn-dark">Список</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Информация по оплате</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header"><span>2010-20-20</span> <span>10:23:22</span></div>
                        <div class="card-body">
                            <p class="card-text">Тариф: <span>Demo</span></p>
                            <p class="card-text">Срок: <span>3 мес.</span></p>
                            <p class="card-text">Сумма: <span>0 руб.</span></p>
                            <p class="card-text">Способ оплаты: <span>Карта</span></p>
                            <p class="card-text">Документы: <span><a href="#">Открыть</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>

    <!-- *************************************************************** -->
    <!-- КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА -->
    <!-- *************************************************************** -->

</div>


</body>

<!-----------IVRIBIN User Script----------------------------->
<!--
    Ajax в внешнем файле, чтобы работал нужно объявлять файл в начале html
-->

<script type="text/javascript">
    //Событие загрузки страницы
    $(document).ready(function(){
        StartPage();
    });
</script>

<!------------FRAMEWORK Script----------------------------->
<script_fragment  th:replace="fragments\master\fragment_agrigate_master_script.html :: master_script_1"></script_fragment>

</html>