<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <user_fragment_1 th:replace="fragments\master\fragment_agrigate_master_head.html :: master_head_1"></user_fragment_1>
    <script src="webapp/js/js_general_functions.js"></script>
    <script src="webapp/js/js_contragentspage.js"></script><!--Подцепляем внешний скрипт-->
    <title>Fin</title>
</head>

<body>

<!-- *************************************************************** -->
<!-- Главная обертка для всего сайта -->
<!-- *************************************************************** -->
<div class="vip-wrapper">
    
    <!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header th:replace="fragments\layouts\fragment_agrigate_layouts_header_menu_top.html :: header_fragment_1"></header>

    

    <!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section th:replace="fragments\layouts\fragment_agrigate_layouts_left_menu_sidebar.html :: left_menu_sidebar_1"></section>

    <!-- *************************************************************** -->
    <!-- Центральная часть -->
    <!-- *************************************************************** -->

    <section class="page-wrap">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Аналитика</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2 p-0">
                                <li class="breadcrumb-item text-muted active" aria-current="page"><a href="#">Ваши отчеты</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

            
        <div class="container">

                <!-- *************************************************************** -->
                <!-- Карточка для создания контрагента -->
                <!-- *************************************************************** -->
                <div class="row">
                    <div class="col-12">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3 class="card-title mb-0">Контрагент</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Это человек с которым Вы ведёт финансовые дела. Все данные будут доступны на одном экране</p>
                                <form th:action="@{/ContragentsEditor}" method="post">
                                    <button type="submit" class="btn waves-effect waves-light btn-rounded btn-outline-success">Создать или изменить контрагента</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Плитки Контрагенов-->
                    <div class="col-md-3" th:each="c: ${contragentList}">
                        <div th:replace="fragments\layouts\fragment_project_tile.html :: contragent_tile_fragment_1(contragentName=${c.name},contragentDescription=${c.description},contragentPhone=${c.phone_num},contragentMail=${c.email_addr},contragentType=${c.type},contragentAmmountIn=${c.amount_in},contragentAmmountOut=${c.amount_out},contragentBalance=${c.balance},contragentCreated=${c.created},contragentMainInn=${c.main_inn},contragentMainCardNum=${c.main_cardnum})"></div>
                    </div>
                    
                </div>
        <!-- *************************************************************** -->
        <!-- КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА -->
        <!-- *************************************************************** -->
                
        </div>
    
    </section>

</div>


</body>

<!-----------IVRIBIN User Script----------------------------->
<!--
    Ajax в внешнем файле, чтобы работал нужно объявлять файл в начале html
-->

<script type="text/javascript">
    //Событие загрузки страницы
    $(document).ready(function(){
        doAjaxGetUserCache();
        SetFormatData('h4.formatnumber_1');
    });
</script>

<!------------FRAMEWORK Script----------------------------->
<script_fragment  th:replace="fragments\master\fragment_agrigate_master_script.html :: master_script_1"></script_fragment>

</html>