<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <user_fragment_1 th:replace="fragments\master\fragment_agrigate_master_head.html :: master_head_1"></user_fragment_1>
    <title>Fins</title>
    <script src="webapp/js/js_general_functions.js"></script>
    <script src="webapp/js/js_companypage.js"></script><!--Подцепляем внешний скрипт-->
</head>

<body>

<!-- *************************************************************** -->
<!-- Главная обертка для всего сайта -->
<!-- *************************************************************** -->
<div class="vip-wrapper">

    <!--Фрагмент спиннера-->
    <div th:replace="fragments\layouts\fragment_agrigate_layouts_spiner.html :: spinner_fragment_1"/>

    <!--Фрагмент модального окна-->
    <div th:replace="fragments\layouts\fragment_agrigate_layouts_modal.html :: modal_fragment_1"/>

    <!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header th:replace="fragments\layouts\fragment_agrigate_layouts_header_menu_top.html :: header_fragment_1(AccountMail=${AccountMail},UserAdmFlg=${attrUserAdmFlg})"></header>

    <!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section th:replace="fragments\layouts\fragment_agrigate_layouts_left_menu_sidebar.html :: left_menu_sidebar_1"></section>

    <!-- *************************************************************** -->
    <!-- Центральная часть -->
    <!-- *************************************************************** -->

    <section class="page-wrap"> 

        <!-- начало. подключается раздел page-breadcrumb -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Компания и сотрудники</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2 p-0">
                                <li class="breadcrumb-item text-muted active" aria-current="page"><a href="#">Основная компания и сотрудники</a></li>
                                <li class="breadcrumb-item text-muted" aria-current="page">Компания</li>
                            </ol>
                        </nav>
                    </div>
                </div>        
            </div>
        </div>
        <!-- конец. подключается раздел page-breadcrumb -->

        <div class="container">

                <!-- *************************************************************** -->
                <!-- Карточка с формой -->
                <!-- *************************************************************** -->
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card"> <!-- модуль c формой -->
                            <div class="card-body">

                                <!-- Форма с полями -->
                                <form action="#">
                                    <div class="form-body">

                                        <!-- Поле ввода -->
                                        <div class="form-group mb-3">
                                            <h4 class="card-title">Компания</h4>
                                            <h6 class="card-subtitle">Необходимо добавить основную компанию. Это необходимо для финансовых операций с контрагентами</h6>
                                        </div>

                                        <!-- Системное. Действия insert/update/delete-->
                                        <div class="form-group f-d-n">
                                            <input type="text" class="form-control" id="company_db_action">
                                        </div>
                                        <!-- Системное. Id-->
                                        <div class="form-group f-d-n">
                                            <input type="text" class="form-control" id="company_id" value="">
                                        </div>

                                        <!-- Поле ввода "Название"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">Название:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text"  id="company_name" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- Поле ввода "Полное название"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">Описание:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" id="company_full_name" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- Поле ввода "ИНН"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">ИНН:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" id="company_inn" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                         <!-- Поле ввода "КПП"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">КПП:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" id="company_kpp" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Поле ввода "Счет"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">Счет:</label>
                                                <div class="col-lg-8 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="company_fins_acc" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <!-- Кнопки для записи в БД -->
                                <div class="form-actions">
                                    <div class="text-right">
                                        <button onClick='InsertCompany()' class="btn waves-effect waves-light btn-outline-primary btn-modif-size">Создать</button>
                                        <button onClick='SaveCompany()' class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Сохранить</button>
                                        <button onClick='ResetCompany()' class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Отменить</button>
                                        <button onClick='DeleteCompany()' class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Удалить</button>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- модуль c формой .end -->
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="card"> <!-- модуль c формой -->
                            <div class="card-body">

                                <!-- Форма с полями -->
                                <form action="#">
                                    <div class="form-body">

                                        <!-- Поле ввода -->
                                        <div class="form-group mb-3">
                                            <h4 class="card-title">Сотрудник</h4>
                                            <h6 class="card-subtitle">Необходимо добавить сотрудников в компанию. Чтобы сотрудник был добален в компанию необходиом сначало выбрать эту компанию из списка.</h6>
                                        </div>

                                        <!-- Системное. Действия insert/update/delete-->
                                        <div class="form-group f-d-n">
                                            <input type="text" class="form-control" id="contact_db_action">
                                        </div>
                                        <!-- Системное. Id-->
                                        <div class="form-group f-d-n">
                                            <input type="text" class="form-control" id="contact_id" value="">
                                        </div>

                                        <!-- Поле ввода "ФИО"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">ФИО:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control"  id="contact_first_name_id">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Поле ввода "Должность"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">Должность:</label>
                                                <div class="col-lg-8 align-self-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" id="contact_description_id">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- Поле ввода "Номер счета"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">Номер счета:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control" id="contact_fins_acc_id">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- Поле ввода "Начальный остаток"-->
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-4 align-self-center">На счете:</label>
                                                <div class="col-lg-8 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control" id="contact_balance_id">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                                <!-- Кнопки для записи в БД -->
                                <div class="form-actions">
                                    <div class="text-right">
                                        <button onClick='InsertContact()' class="btn waves-effect waves-light btn-outline-primary btn-modif-size">Создать</button>
                                        <button onClick='SaveContact()' class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Сохранить</button>
                                        <button onClick='ResetContact()' class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Отменить</button>
                                        <button onClick='DeleteContact()' class="btn waves-effect waves-light btn-outline-secondary btn-modif-size">Удалить</button>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- модуль c формой .end -->
                    </div>

                </div>
    
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Информация о компании</h4>
                        <h6 class="card-subtitle">Полная информация о компании. Вы можете добавить, изменить удалить компанию, достаточно кликнув по записи и выполнить нужное действие.</h6>
                        <div class="table-responsive">
                            <table id="company_table_id" class="table no-wrap table-hover">
                                <thead> <!-- Заголовок таблицы -->
                                <tr>
                                    <!--<th>ID</th>-->
                                    <th>Название</th>
                                    <th>Полное название</th>
                                    <th>ИНН</th>
                                    <th>КПП</th>
                                    <th>Счет</th>
                                </tr>
                                </thead>
                                <tbody id="company_table_body_id">
                                    <!--ajax контекст-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Список сотрудников в компании</h4>
                        <h6 class="card-subtitle">Полный список всех сотрудников. Вы можете изменить или удалить нужного сотрудника, достаточно кликнув по записи и выполнить нужное действие.</h6>
                        <div class="table-responsive">
                            <table id="contact_table_id" class="table no-wrap table-hover">
                                <thead> <!-- Заголовок таблицы -->
                                <tr>
                                    <!--<th>ID</th>-->
                                    <th>Название</th>
                                    <th>Номер счета</th>
                                    <th>Остаток</th>
                                    <th>Описание</th>
                                </tr>
                                </thead>
                                <tbody id="contact_table_body_id"> <!-- сюда вываливаються данные из в карточки создать проект -->
                                    <!--ajax контекст-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        <!-- *************************************************************** -->
        <!-- КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА -->
        <!-- *************************************************************** -->
                
        </div>
    
    </section>

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div th:replace="fragments\layouts\fragmetn_agrigate_layouts_footer.html :: footer_fragment_1"/>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

</div>

</body>


<!-----------IVRIBIN User Script----------------------------->

<script type="text/javascript">
    //Событие загрузки страницы
    $(document).ready(function(){
        StartPage();
    });
</script>

<!------------FRAMEWORK Script----------------------------->
<script_fragment  th:replace="fragments\master\fragment_agrigate_master_script.html :: master_script_1"></script_fragment>


</html>