<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <user_fragment_1 th:replace="fragments\master\fragment_agrigate_master_head.html :: master_head_1"></user_fragment_1>
    <title>Fin</title>
    <script src="webapp/js/js_finsprojectpageadd.js"></script><!--Подцепляем внешний скрипт-->
</head>

<body>

<!-- *************************************************************** -->
<!-- Главная обертка для всего сайта -->
<!-- *************************************************************** -->
<div class="vip-wrapper">
    
    <!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header th:replace="fragments\layouts\fragment_agrigate_layouts_header_menu_top.html :: header_fragment_1"></header>

    

    <!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section th:replace="fragments\layouts\fragment_agrigate_layouts_left_menu_sidebar.html :: left_menu_sidebar_1"></section>

    <!-- *************************************************************** -->
    <!-- Центральная часть -->
    <!-- *************************************************************** -->

    <section class="page-wrap">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Аналитика</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2 p-0">
                                <li class="breadcrumb-item text-muted active" aria-current="page"><a href="#">Ваши отчеты</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

            
        <div class="container">

            <!-- *************************************************************** -->
            <!-- Раздел для создания проекта -->
            <!-- *************************************************************** -->
            <div class="row">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 class="card-title mb-0">Проект - это ваш бизнес</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Все данные будут доступны на одном экране. Полный контроль денег</p>
                            <form th:action="@{/ProjectsEditor}" method="post">
                                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-outline-success">Создать или изменить проект</button>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Плитки проектов-->
                <div class="col-md-4" th:each="p: ${finsprojectList}">
                    <div th:replace="fragments\layouts\fragment_project_tile.html :: project_tile_fragment_1(projectName=${p.name},projectDescription=${p.description})"></div>
                </div>

            </div>
        <!-- *************************************************************** -->
        <!-- КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА -->
        <!-- *************************************************************** -->
                
        </div>
    </section>

</div>


</body>

<!-----------IVRIBIN User Script----------------------------->
<!--
    Ajax в внешнем файле, чтобы работал нужно объявлять файл в начале html
-->

<script type="text/javascript">
    //Событие загрузки страницы
    $(document).ready(function(){
        StartPage();
    });
</script>

<!------------FRAMEWORK Script----------------------------->
<script_fragment  th:replace="fragments\master\fragment_agrigate_master_script.html :: master_script_1"></script_fragment>

</html>