
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="webapp/images/favicon.png">
    <title>Финансовый учет - Регистрация</title>
    <!-- Custom CSS -->
    <link href="webapp/css/normalize.css" rel="stylesheet"> 
    <link href="webapp/css/style.css" rel="stylesheet">
    <link href="webapp/css/main.css" rel="stylesheet">
</head>

<body>

    <!-- <form class="pl-3 pr-3" action="#" th:action="@{/RegConfirm}" th:object="${registrationform}" method="post">
        <div>Имя: <input type="text" th:field="*{firstName}"></div>
        <div>Фамилия: <input type="text" th:field="*{lastName}"></div>
        <div>email: <input type="text" th:field="*{email}"></div>
        <div>Пароль: <input type="password" th:field="*{password}"></div>
        <button type="reset" class="btn btn-light" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-outline-light">Регистрация</button>
    </form> -->

    <div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div class="auth-box row text-center">
                <div class="col-lg-7 col-md-5 modal-bg-img">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <h2 class="mt-3 text-center">Регистрация</h2>
                        <p class="text-center">Введите пожалуйста Ваши данные для регистрации личного кабинета</p>
                        <form class="mt-4" th:action="@{/RegConfirm}" th:object="${registrationform}" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Имя" th:field="*{firstName}">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Фамилия" th:field="*{firstName}">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Почта" th:field="*{email}">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="password" placeholder="Пароль" th:field="*{password}">
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Регистрация</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Уже зарегистрированы? Личный кабинет - <a href="#" class="text-danger">Войти</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


<!-----------IVRIBIN User Script----------------------------->
<script type="text/javascript">

</script>

</body>

</html>
