
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <user_fragment_1 th:replace="fragments\master\fragment_agrigate_master_head.html :: master_head_1"></user_fragment_1>
    <title>Финансовый учет - Регистрация</title>
</head>

<body>

    <div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div class="auth-box row text-center">
                <div class="col-lg-7 col-md-5 modal-bg-img">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <h2 class="mt-3 text-center">Регистрация</h2>
                        <p class="text-center">Введите пожалуйста Ваши данные для регистрации личного кабинета</p>
                        <p class="text-center" th:if="${attrErrorFlg}" th:utext="${attrErrorMsg}"/>
                        <form class="mt-4" th:action="@{/RegConfirm}" th:object="${registrationform}" method="post" id="registrationform_id">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input th:class="${attrFieldClass}" type="text" placeholder="Имя" th:field="*{firstName}" id="f_name_field_id">
                                        <div th:class="${attrFieldClassEx}">Поле заполнено неверно</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input th:class="${attrFieldClass}" type="text" placeholder="Фамилия" th:field="*{lastName}" id="l_name_field_id">
                                        <div th:class="${attrFieldClassEx}">Поле заполнено неверно</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input th:class="${attrFieldClass}" type="text" placeholder="Почта" th:field="*{email}" id="mail_name_field_id">
                                        <div th:class="${attrFieldClassEx}">Поле заполнено неверно</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input th:class="${attrFieldClass}" type="password" placeholder="Пароль" th:field="*{password}" id="password_field_id">
                                        <div th:class="${attrFieldClassEx}">Поле заполнено неверно</div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Регистрация</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Уже зарегистрированы? Личный кабинет - <a href="http://194.67.104.72:8081/login/login" class="text-danger">Войти</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


<!-----------IVRIBIN User Script----------------------------->
<script type="text/javascript">

</script>

</body>

</html>
